*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    color: #330000;
}

section {padding: 1% 0;}

div.wrapper { padding: 1% 0; }

div.content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 1%;
    overflow: hidden;
}

/* настройка шапки */
header .wrapper{
    background-color: #f7e8e3;
}

header .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.content .logo img{ 
    height: 75px; 
}

.content nav {
    color: #333333;
    font-size: 16pt;
}

.content nav a{
    text-decoration: none;
    color: #333333;
}

.content nav a:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* Оформление блока Баннер */
section.banner {
    min-height: 80vh;
    background-image: url(../media/img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section.banner div.wrapper{
    display: flex;
    align-items: center;
    width: 50%;
    min-height: 90vh;
    margin-left: 2%;
    background-color: rgba(255, 255, 255, 0.7);
}

section.banner div.wrapper h1{
    font-size: 48pt;
    color: #04323a;
    font-weight: bold;
    text-align: left;
}

section.banner div.wrapper h2{
    text-align: left;
}

/* настройка блока алгоритм */

.alg {
    background-color: #04323a;
}

h1{
    font-size: 32pt;
    color: #ffffff;
}

section.alg div.steps {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

section.alg div.step {
    font-size: 16pt;
    background-color: #d1dcde;
    width: 15%;
    padding: 10px 20px;
    border-radius: 20px;
}

/* настройка блока о компании */

div.comment{
    width: 33%;
    float: left;
    padding: 2%;
}

div.comment img.comment_foto {
    width: 60%;
    margin: 0 auto;
    border-radius: 50%;
}

div.comment div.comment_text {
    padding: 2%;
}

/* настройка блока поиск */
section.search {
    background-color: #573625;
}

select, input, button, textarea {
    width: 100%;
    height: 50px;
    margin-top: 1%;
    padding: 1%;
    font-size: 16pt;
}



/* настройка блока акций */
section.promos {
    background-color: #d1dcde;
}

section.promos .content{
    display: flex;
    flex-wrap: wrap;
}

div.promo{
    width: 30%;
    margin: 1%;
    padding: 2%;
    border: 2px solid #04323a;
    border-radius: 5px;
}

div.promo img {
    width: 100%;
    margin: 0 auto;
}

div.promo div.promo_text {
    padding: 2%;
}

/* настройка блока поиск */
select, input, button {
    width: 100%;
}

/* настройка блока подписки */
section.sub {
    background-color: #04323a;
}

/* настройка подвала */
footer {
    background-color: #f7e8e3;
}

footer h2{
    font-size: 32pt;
}

footer nav {
    padding-top: 20px;
}

/* Оформление страницы результаты поиска */

h1{
    text-align: center;
}

/* Оформление страницы выбор зон */
.content img{
    width: 80%;
    margin: 0 auto;
}

.wrapper .link{
    width: 80%;
    margin: 0 auto;
}

/* Оформление страницы Бронирование */

section.booking{
    background-color: #04323a;
}

.booking .content{
    font-size: 16pt;
    padding: 1%;
    text-align: left;
}

.booking .content p{
    padding-top: 2%;
}

.info, .dop, .other{
    background-color: #c0c0c0;
    padding: 3%;
    margin: 3%;
    overflow: hidden;
}

h2{
    text-align: center;
}

ul{
    list-style-position: inside;
    padding-left: 1%;
}

.dop input[type=checkbox] {
    height: 30px;
}

.dop_check{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* Шаги с анимацией */

section.alg div.steps {
    margin-top: 3%;
    overflow: hidden;
    position: relative;
}

section.alg div.step{
    font-size: 16pt;
    background-color: #d1dcde;
    padding: 10px 20px;
    border-radius: 20px;
    overflow: hidden;

    animation: round 24s infinite;
    opacity: 0;
    width: 100%;
    height: 80%;
}

@keyframes round {
12.5% {opacity: 1;}
25% {opacity: 0;}
}

/* время задержки перед стартом анимации */
div.steps div:nth-child(6) {animation-delay: 20s;}
div.steps div:nth-child(5) {animation-delay: 16s;}
div.steps div:nth-child(4) {animation-delay: 12s;}
div.steps div:nth-child(3) {animation-delay: 8s;}
div.steps div:nth-child(2) {animation-delay: 4s;}
div.steps div:nth-child(1) {animation-delay: 0s;}

/* Адаптив для мобильных устройств ширины 480px */

@media screen and (max-device-width: 480px){
    /* Настройки шапки */
    .content .logo img{height: 100%;}

    .content nav {
        font-size: 12pt;
    }

    /* Настройка блока с баннером */

    section.banner {
        max-height: 40vh;
    }

    section.banner div.wrapper h1 {font-size: 36pt;}

    /* Настройки всех заголовков */
    h1 {
        font-size: 20pt;
    }

    content h2 {
        font-size: 16pt;
    }

    /* Настройки слайдера */
    section.alg div.step{
        font-size: 10pt;
        padding: 1% 2%;
    }

    /* Настройки блока Отзывы */

    div.comment{
        width: 100%;
    }

    button, input[type=submit]{
        font-size: 10pt;
    }

    footer a{
        font-size: 12pt;
    }

    header nav a{
        display: flex;
        flex-wrap: wrap;
        font-size: 10pt;
        padding: 1% 1%;
        text-align: left;
    }

    /* Настройка страницы Управление бронированием */

    .dop h2, .info h2{
        font-size: 16pt;
    }

    .content p, .content li{
        font-size: 12pt;
    }

    .dop_check p {
        float: none;
    }
}

/* Адаптив для планшетов ширины 768px */

@media screen and (max-device-width: 768px){
    /* Настройка навигации */
    .content nav {
        font-size: 14pt;
    }
    /* Настройки слайдера */
    section.alg div.step{
        font-size: 12pt;
        padding: 1% 2%;
    }

    .promos button{
        font-size: 14pt;
    }

    footer h2{
        font-size: 20pt;
    }
}